# ==========================================
# Sintese
# ==========================================

# Ignora arquivos temporarios
synth/*.log
synth/*.cmd

# ==========================================
# Place and Route
# ==========================================

# Logs do Innovus
pnr/innovus.log*
pnr/innovus.cmd*
pnr/*.history

# Outros arquivos temporarios
pnr/*.key
pnr/pvsUI_ipvs.log

# ==========================================
# Simulacao
# ==========================================

sim/*
!sim/.gitkeep
